# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Release docs

permissions: {}

on:
  push:
    tags:
      - docs-v*

jobs:
  docs-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Parse semver string
        id: semver 
        uses: booxmedialtd/ws-action-parse-semver@7784200024d6b3fc01253e617ec0168daf603de3 # v1.4.7
        with:
          input_string: ${{ github.ref_name }}
          version_extractor_regex: '^docs-v(.*)$'
      - name: Checkout
        if: ${{ steps.semver.outputs.prerelease == '' }}
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        if: ${{ steps.semver.outputs.prerelease == '' }}
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - name: Build site
        if: ${{ steps.semver.outputs.prerelease == '' }}
        run: |
          set -e
          make codegen-mkdocs
      - name: Deploy site
        if: ${{ steps.semver.outputs.prerelease == '' }}
        run: |
          set -e
          git fetch origin gh-pages --depth=1
          git config user.name ci-bot
          git config user.email ci-bot@example.com
          mike deploy -F ./website/mkdocs.yaml --push --update-aliases ${{ steps.semver.outputs.fullversion }} latest
