# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Tests

permissions: {}

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: Setup Go
      uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
      with:
        go-version-file: go.mod
        cache-dependency-path: go.sum
    - name: Create test cluster
      run: |
        set -e
        make kind-cluster
    - name: Run tests
      run: |
        set -e
        make tests
    - name: Upload Report to Codecov
      uses: codecov/codecov-action@e0b68c6749509c5f83f984dd99a76a1c1a231044 # v4.0.1
      with:
        files: ./coverage.out
        fail_ci_if_error: true
        verbose: true
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  e2e-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: Setup Go
      uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
      with:
        go-version-file: go.mod
        cache-dependency-path: go.sum
    - name: Build
      run: |
        set -e
        make build
    - name: Create test cluster
      run: |
        set -e
        make kind-cluster
    - name: Run tests
      run: |
        set -e
        make e2e-tests

  e2e-test-ko:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    # - name: Setup Go
    #   uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
    #   with:
    #     go-version-file: go.mod
    #     cache-dependency-path: go.sum
    - name: Install ko
      uses: imjasonh/setup-ko@ace48d793556083a76f1e3e6068850c1f4a369aa   #v0.6
      with:
        version: v0.15.1
        
    - name: Build Docker image locally with ko
      run: |
        set -e
        make build-ko
      env:
        KO_DOCKER_REPO: ko.local
    - name: Create test cluster
      run: |
        set -e
        make kind-cluster
    - name: Run tests
      run: |
        set -e
        make e2e-tests-ko

  required:
    needs:
    - unit-tests
    - e2e-tests
    runs-on: ubuntu-latest
    steps:
    - run: echo "Required jobs success!"
